*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkers_game{
    border: 5px solid #5F2611;
    outline: 20px solid #B5643D;
}