*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkers_game{
    border: 5px solid #5F2611;
    outline: 20px solid #B5643D;
    width: 400px;
    height: 400px;
}

.board-cell {
    width: 50px;
    height: 50px;
    float: left;
}

.light-cell{
    background-color: #E9C394;
}

.dark-cell {
    background-color: #671A19;
}

.checker {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: -2px 2px 7px rgba(0, 0, 0, .5);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.checker:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #D8875B;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 3px;
}

.checker:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #D8875B;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}